<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div th:replace="~{base::head}"></div>
<div th:replace="~{base::navbar}"></div>

<body class="container">

	<div class="card mt-2">
		<h5 class="card-header">Sobre o sistema</h5>
		<img src="/images/logo.jpg" style="margin: 10px; width: 300px;">

		<div class="card-body">
			<h5 class="card-title">Tecnologias: Java COre + Spring MVC +
				Thymeleaf + Spring Data + MySQL</h5>
			<p class="card-text">Projeto desenvolvido por Guilherme Bueno</p>
			<a href="https://softgraf.com" target="_blank"
				class="btn btn-primary">Ir para o site</a>
		</div>
	</div>
</body>
</html>
